@model Ubus.App.ViewModels.ViagemViewModel


@*<div>@Model.Id</div>
<div>@Model.Nome</div>
<div>@Model.Saida</div>
<div>@Model.Chegada</div>
<div>@Model.Finalizado</div>
<div>@Model.Rota.Itinerario</div>
<div>@Model.Veiculo.Modelo</div>*@

