@model IEnumerable<Ubus.App.ViewModels.ViagemMotoristaViewModel>

<div class="container jumbotron">
    <div>
        <a class="btn btn-primary" asp-action="FiltrarViagemsPorDia">Somente as de hoje</a>
    </div>
    <div>
        <a class="btn btn-warning" asp-action="AtualizarViagensFinalizadas">Atualizar Viagens</a>
    </div>
    <div>
        <a class="btn btn-primary" asp-action="Adicionar">Adicionar Viagens</a>
    </div>
</div>
<table class="table table-hover ">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                Nome
            </th>
            <th scope="col">
                Data de saída
            </th>
            <th scope="col">
                Motorista
            </th>
            <th scope="col">
                Vencido?
            </th>
            <th scope="col">
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td scope="row">
                @item.Nome
            </td>
            <td scope="row">
                @item.Saida
            </td>
            <td scope="row">
                @if(@item.Motorista != null) @item.Motorista.Nome
            </td>
            <td scope="row">
                @(item.Chegada < DateTime.Now ? "Sim" : "")
            </td>
            <td class="text-right" scope="row">
                <a class="btn btn-warning my-1" asp-action="Details" asp-route-id="@item.Id"> Detalhes </a>
                <a class="btn btn-info my-1" asp-action="Edit"> Editar </a>
                <a class="btn btn-danger my-1" asp-action="Delete"> Excluir </a>
            </td>
        </tr>
        }
    </tbody>
</table>
