@model IEnumerable<Ubus.App.ViewModels.ViagemMotoristaViewModel>
@{
    ViewData["Title"] = "Lista de Viagens";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div style="display: flex; justify-content:flex-start">
    <div>
        <a class="btn btn-info mr-2 mb-2" asp-action="FiltrarViagemsPorDia">Somente as de hoje</a>
    </div>
    <div>
        <a class="btn btn-info mr-2 mb-2" asp-action="AtualizarViagensFinalizadas">Atualizar Viagens finalizadas</a>
    </div>
    <div>
        <a class="btn btn-info mb-2" asp-action="Adicionar">Adicionar Viagens</a>
    </div>
</div>
<table class="table table-hover ">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                Nome
            </th>
            <th scope="col">
                Data de saída
            </th>
            <th scope="col">
                Motorista
            </th>
            <th scope="col">
                Vencido?
            </th>
            <th scope="col">
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td scope="row">
                    @item.Nome
                </td>
                <td scope="row">
                    @item.Saida
                </td>
                <td scope="row">
                    @if (@item.Motorista != null)@item.Motorista.Nome
                </td>
                <td scope="row">
                    @(item.Chegada < DateTime.Now ? "Sim" : "")
                </td>
                <td class="text-right" scope="row">
                    <a class="btn btn-warning my-1" asp-action="Detalhes" asp-route-id="@item.Id"> Detalhes </a>
                    <a class="btn btn-info my-1" asp-action="Editar" asp-route-id="@item.Id"> Editar </a>
                    <a class="btn btn-danger my-1" asp-action="Remover"> Excluir </a>
                </td>
            </tr>
        }
    </tbody>
</table>
