@model IEnumerable<Ubus.App.ViewModels.RotaViewModel>

@{
    ViewData["Title"] = "Lista de Rotas";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div style="display: flex; justify-content:flex-start">
    <a class="btn btn-info mr-2 mb-2" asp-action="Adicionar">Nova Rota</a>
</div>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Itinerario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Itinerario)
                    </td>
                    <td class="text-right">
                        @*<a class="btn btn-warning" href="#" onclick="alert('Não Implementado')">Detalhes</a>
                            <a class="btn btn-info" href="#" onclick="alert('Não Implementado')">Editar</a>
                            <a class="btn btn-danger" href="#" onclick="alert('Não Implementado')">Remover</a>*@
                    </td>
                </tr>
            }
    </tbody>
</table>
