@model IEnumerable<Ubus.App.ViewModels.VeiculoViewModel>
@{
    ViewData["Title"] = "Lista de Veículos";
}

<h1>@ViewData["Title"]</h1>
<hr />

<div style="display: flex; justify-content:flex-start">
    <a class="btn btn-info mr-2 mb-2" asp-action="Adicionar">Adicionar Veículo</a>
</div>
<table class="table table-hover ">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                Id
            </th>
            <th scope="col">
                Marca
            </th>
            <th scope="col">
                Modelo
            </th>
            <th scope="col">
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td scope="row">
                    @item.Id
                </td>
                <td scope="row">
                    @item.Marca
                </td>
                <td scope="row">
                    @item.Modelo
                </td>
                <td class="text-right">
                    <a class="btn btn-info my-1" asp-action="VincularItem" asp-route-idVeiculo="@item.Id"> Vincular Item </a>
                    @*<a class="btn btn-warning" href="#" onclick="alert('Não Implementado')">Detalhes</a>
                        <a class="btn btn-info" href="#" onclick="alert('Não Implementado')">Editar</a>
                        <a class="btn btn-danger" href="#" onclick="alert('Não Implementado')">Remover</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>


